* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
}

.rel {
    position: relative
}

.ab {
    position: absolute;
}
.flex {
    display: flex;
}
.align {
    align-items: center;
}
.center {
    justify-content: center;
}
.cover {
    width: 1340px;
    margin: 0 auto;
    height: 100%;
}
section.search{
    margin-top: 50px;
    height: 40px;
}
section.search button {
    width: 100px;
    height: 40px;
    margin:0px 10px;
}
section.uesr_list {
    margin-top: 50px;
    text-align: center;
}
td span {
    color:#6898d8;
    cursor: pointer;
}